body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 300px;
}

#Box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(200, 199, 199);
    border-radius: 15px;
    border: 2px solid #333;
    margin: 20px auto;
}
